/*/* 用车百科样式*/
/*   Creator:Kinglot*/
/*   CreateDate:2014-06-24*/
/*   Remark:NULL*/
/*----------------------------------------------------------*/*/
/**/
/*body   */
/*{ */
/*    font-size: 1.2em;*/
/*    font-family: sans-serif, @微软雅黑;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    */
/*}*/
/*#IconBox*/
/*{*/
/*    margin-top:10px;*/
/*    text-align:center;*/
/*}*/
/*#IconBox img*/
/*{*/
/*    height:120px;*/
/*    width:120px;*/
/*}*/
/**/
/**/
/*#HeaderBox*/
/*{*/
/*    margin-top: 10px;*/
/*    font-size: 1.3em;*/
/*    padding-top: 10px;*/
/*    height: 45px;*/
/*    text-align: center;*/
/*    color: #800000;*/
/*    background-repeat: repeat-x;*/
/*}*/
/**/
/*#SearchBox*/
/*{*/
/*    margin:10px 20px 0 20px; */
/*}*/
/*#SearchBox input*/
/*{*/
/*    border:1px solid #ff2c56;*/
/*}*/
/**/
/*#MiddleBox*/
/*{*/
/*    font-size:0.80em;*/
/*    padding-top:5px;*/
/*    height:20px;*/
/*    text-align:center;*/
/*    border-bottom:1px solid #ff2c56;*/
/*    border-top:1px solid #ff2c56;*/
/*    margin:20px 20px 0 20px;*/
/*    color:#ff2c56;*/
/*}*/
/**/
/*#ContentBox*/
/*{*/
/*    border: 1px solid #ff2c56;*/
/*    text-align:center;*/
/*    margin:20px 20px 0px 20px;*/
/*}*/
/**/
#ContentBox ul
{
    margin:0px; padding:5px;
    list-style-type:none;
}

#ContentBox ul li
{
  
    border-bottom:1px solid #ff2c56;
    font-size:.80em;
    height:20px;
    line-height:20px;
    vertical-align:middle;  
} 

#ContentBox ul li:hover
{
    background: #efefef  no-repeat right;
} 

/*.NoUnderLine*/
/*{*/
/*    border-bottom:0;*/
/*}*/
/**/
/**/
/*#BottomBox*/
/*{ */
/*    font-size:0.80em;*/
/*    color:#ff2c56;*/
/*    padding-top:10px;*/
/*    height:30px;*/
/*    text-align:center;*/
/*    border-bottom:1px solid #ff2c56;*/
/*    border-top:1px solid #ff2c56;*/
/*    margin:20px 20px 20px 20px;*/
/*}*/